target/
*.DS_Store
*.iml
.idea
test.properties
.mvn
!/.mvn/wrapper/maven-wrapper.*
/dev-payload*.json
travis-payload.json
*.zip
iron.json
payload*.json

application-default.properties
application-it.properties

.sphere-project-credentials
.classpath
.project
.settings/
.vscode/
dist/
node_modules/
*.log
.factorypath
.env
categories.csv-sorted
